<main class="login">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form" [formGroup]="loginForm">
        <mat-form-field appearance="outline" class="field" >
          <mat-label>E-mail</mat-label>
          <input matInput autocomplete="email" formControlName="email" placeholder="E-mail">
          <mat-error *ngIf="this.loginForm.controls['email'].invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="field">
          <mat-label>Password</mat-label>
          <input matInput autocomplete="current-password" formControlName="password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="this.loginForm.controls['password'].invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>
        <div class="container__button">
          <button mat-raised-button color="primary" (click)="onSubmit()">Entrar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</main>