// $color-base: #E7E0C9;
// $color-primary: #11324D;
// $color-secondary: #6B7AA1;
// $color-third: #C1CFC0;

// $color-light: #fff;
// $color-dark: #000;


/**
* Breakpoints (Mobile First!)
*/
$breakpoint-smartphone: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-x-large: 1200px;
$breakpoint-xx-large: 1440px;
$breakpoint-lx-large: 2000px;
