.login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 5px;
    .title {
        color: #F0D9FF;
        margin-bottom: 20px;
        text-shadow: 4px 6px 10px #000000;
        letter-spacing: 8px;
        border-radius: 25px;
        border: 2px solid #F0D9FF;
        padding: 20px; 
        animation: title 2s infinite alternate;
        width: 100%;
        text-align: center;
    }
    .login-card {
        width: 100%;
        background-color: #E7E0C9;
        margin-bottom: 10px;
        border-radius: 20px;
        .form {
            button {
                margin-top: 30px;
            }     
        }
    }
}



@include tablet  {
    .login {
        align-items: center;
        .title { 
            width: auto;
            font-size: 40px;
        }
        .login-card {
            width: 453px;
            margin-bottom: 0px;
        }
    }    
}

